@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  
  
}

body {
  font-family: 'Montserrat', sans-serif;

}

.wrapper {
  
  height: 600px;
  background-color: #3d6dad;
  color: #fff;
  
  
}
.logo1{
  width: 30%;
}
.logo2{
  width: 70%;
  
}
#logo1{
  width: 0.8em;
}

.logo3{
  width: 10em;
  border-radius: 15px;
  margin-left: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.brand {
  margin-top: -5px;
  display: flex;
  
  padding: 10px;
}
.brand span {
  color: aqua;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  text-wrap: nowrap;
}

.menu  li {
  list-style: none;
 
}

.flag{
  width: 30px;
}

.menu a {
  color: white;
  font: 1em sans-serif;
  text-decoration: none;
  
}

.menu li:hover a{
  background-color: #3b93c3;
  color: #191c32;
  
}

.menu li a:hover {
  color: white;
}

.main {
  margin: 0 auto;
  
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
  padding-top: 120px;
}

h1 {
  font-size: 3vw;
}
.info-content{
  padding: 20px;
}

.info-content span {
  color: aqua;
}

.main img {
  border-radius: 50%;
  width:65%;
  
}
.main {
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; /* Centrar horizontalmente los elementos */
  gap: 2em;
  
}

/* Centrar verticalmente el contenido en .main */
.main h1,
.main img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/11;
  padding: 3em;
  
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 210px;
  background-color: #3b93c3;
  margin-top: 5px;
  margin-bottom: 1em;
}

.about p {
  margin-bottom: 2em;
}

#portfolio {
  
 
  height: auto; /* Ocupar toda la altura de la pantalla */
  background-color: #191c32;
  color: #fff;
  padding: 0; /* Eliminar cualquier relleno */
  margin: 0; /* Eliminar cualquier margen */
  overflow: hidden; /* Asegurar que no haya desbordamiento */
}

.portfolio-heading {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

}

.portfolio-heading h2 {
  font-size: 1.8em;
  color: #fff;
}

.portfolio .container {
  width: 95vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  display: flex;
  width: 80%;
  height: auto;
  background-color: #202c89;
  margin: 10 auto;
  padding: 10px;
  padding-top: 10px;
  height: -webkit-fill-available;
}
.button-content {
  display: flex;
  justify-content: center;
  
  margin: 0.5em;
  
  
}

.project-details-button{
  
  font-size: 1em;
  align-items: center;
  background-color: aqua;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px;
  
}

.project-details-button:hover{
  background-color: #3b93c3;
}

.project-details-button a{
  text-decoration: none;
}


.card__img video {
  margin: 0; /* Anula todos los márgenes */
  padding: 0; /* Anula todo el relleno */
  inline-size: -webkit-fill-available;
  width: 100%;
}


.card__title {
  padding: 20px;
  width: 70%;
  justify-content: center;
}
.card__title h2,p{
  text-align: center;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}

.card__proyect-links a {
  color:#191c32;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 2em;
}



.footer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  
  justify-content: center;
  
  
  
  background-color: #3d6dad;   
}

.footer-content h2 {
  font-size: 3vw;
  text-align: center;
  color: white;
}

.footer-content h5 {
  font-size: 2vw;
  text-align: center;
  color: white;
}

.sotial-networks {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.sotial-networks i {
  font-size: 3vw;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .navbar{
    position: fixed;
    
    background-color: #3d6dad;
    
  }
}


@media screen and (max-width: 720px) {
  .main img{
    width: 10em;
  }
  .navbar{
    display: block;
    background-color: #3d6dad;
    height: 100px;
  }
  .wrapper{
    height: auto;
  }
  .main{
    display: block;
    padding-top: 50;
    margin: 30 0;
    height: 70vh;
    padding-bottom: 50px;
    min-height: 375px;
  }
  .main img{
    margin-top: 50px;
  }
  .menu {
    
    margin-top: -10px;
    justify-content: center;
    align-items: center; 
  }
  .menu a{
    color: #191c32;
  }
.brand{
  justify-content: center;
  height: 90px;
}
  .menu li {
    flex: 1;
    text-align: center;
  }
  
  .logo1{
    width: 20%;
  }
  .logo2{
    width: 45%;
  }
  .info-content{
    font-size: xx-small;
    margin-top: -20px;
  }
  .about p {
    font-size: 3vw;
  }
  .about-info{
    padding: 1em;
  }
  .about-info .divider{
    width: 100px;
  }
  .card{
    
    display: block;
  }
  .card__title{
    font-size: small;
    margin: 0 auto;
  }
  .project-details-button{
    font-size: 30%;
  }
  .card__proyect-links i {
    font-size: 40%;
    padding: 3px;
  }
  
} 